
h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}
p {
    font-size:larger ;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    background-color: brown;
    
    
}

 .box {
    background-color: blanchedalmond;
    border: 2px solid black;
    margin: 5px;
    
    
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;  
    
}
/*
.box:nth-of-type(3)
{
    flex-grow: 3;
}

.box1 {
    background-color: rgb(19, 212, 61);
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.box.box6 {
    background-color: rgb(78, 15, 226);
    border: 2px solid black;
  
    display: flex;
    align-items: center;
    justify-content: center;  
}
    */